include CHANGELOG
include LICENSE
include README.rst
recursive-include examples *.py *.jpg
recursive-include docs *.py *.md *.rst *.txt *.bib
recursive-include tests *.py *.md *.zip
prune docs/_build
exclude docs/_version_save.py
